@import 'vars.less';

html{
	body{
		font-size:0;
		#bg{
			position: fixed;
			top:0;
			left:0;
			width:25%;
			background: #E6B60E;
			z-index:-1;
			height: 100vh;
		}
		aside{
			width:25%;
			min-height: 100vh;
			height:100%;			
			padding-bottom:40px;
			.inline;
			img{
				display:block;
				margin:30px auto 50px auto;
			}
			nav{
				h1{
					.source(30px);
					padding:0 0 0 10%;
					color:#fff;
					margin:15px 0 0 0;
				}
				ul{
					padding:0 0 0 10%;
					list-style:none;
					li{
						padding:3px 0 3px 5px;
						a{
							text-decoration:none;
							.source(15px);
							color:#007CC3;
							&:visited{color:#007CC3;}
							&:active{color:#007CC3;}
							&.ativo{color:#64425F;}
							&:hover{color:#64425F;}
							.transition;
						}
					}
				}
			}
		}
		section{
			width:75%;
			min-height: 100vh;
			position:relative;
			background:#fff;
			.inline;
			article{
				overflow:hidden;
				width:98%;
				position:absolute;
				width:75%;
				min-height: 100vh;
				top:0px;
				left:0px;
				padding:9% 0 3% 2%;
				opacity:0;
				height:0;
				z-index:1;
				background-color:#fff;
				.transition;
				&:target{
					padding:3% 0 3% 2%;
					opacity:1;
					height:auto;
					z-index:9;
				}
				h1{
					.source(40px);
					margin:0;
				}
				h2{
					.source(20px);
					margin:0;
				}
				h3{
					.source(16px);
					margin:0;
				}
				ul{
					.source(16px);
					margin:0;
				}
				blockquote{
					.source(16px);
					margin:10px 0 25px 25px;
					border-left:5px #ccc solid;
					padding:2px 0 2px 20px;
					color:#AAA;
				}
				p{
					.source(16px);
					margin:10px 0;
				}
				.box{
					background:#DDD;
					border:1px #CCC solid;
					padding:10px 15px;
					margin:20px auto;
					display:block;
					width:90%;
				}
			}
		}
	}
}