@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html {
  min-height: 100%;
  position: relative;
}
html body.body-painel-login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
html body.body-painel-login .main-painel-login {
  background: url('rgba.php/rgba(@r,@g,@b,@a)');
  background: rgba(51, 51, 51, 0.15);
  overflow: hidden;
  min-height: 100%;
}
html body.body-painel-login .main-painel-login .login {
  background: #fff;
  display: block;
  margin: 50px auto 0 auto;
  width: 400px;
  border: 2px #ccc solid;
  padding: 15px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  behavior: url('PIE.htc');
}
html body.body-painel-login .main-painel-login .login h3 {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px #ccc solid;
}
html body.body-painel-login .main-painel-login .login .input-group {
  margin-bottom: 15px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder {
  height: 34px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder input[type="submit"] {
  float: right;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder input[type="checkbox"] {
  vertical-align: -2px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder label {
  font-weight: normal;
}
html body.body-painel .main .container {
  padding: 0 0 50px 0;
  min-height: 500px;
}
html body.body-painel footer {
  border-top: 1px #ccc solid;
  padding-top: 20px;
}
html body.body-painel table {
  margin: 30px 0;
}
html body.body-painel table .crud-actions {
  width: 131px;
}
html body.body-painel table .crud-actions form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body.body-painel table .move-actions {
  width: 74px;
}
html body.body-painel .add .pad {
  padding: 20px 0px;
  max-width: 600px;
}
